{% extends "main.html" %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('board.add') }}">Add Post</a>
</li>
{% endblock %}

{% block content %}
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-lg-4">
            <div class="card text-white bg-{{ post.color }}">
                <div class="card-header">{{ post.title }}</div>
                <div class="card-body">
                    <p class="card-text">{{ post.description }}</p>
				    
	                    <i class="fa fa-star-o"></i> {{ post.likes }} 
	                    <button class="btn btn-block btn-primary"><i class="fa fa-thumbs-up">Like (0)</i> </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

